@media(max-width: 768px)
{
    /* body { border: 1px solid red; } */
    
    /* HEAD */
    
    .address ul {
        flex-direction: column;
    }
    .address ul li {
        margin-top: .8em;
    }

    .title {
        font-size: 1.5em;
    }

    /* SECTIONS */

    #section-experience {
        border: 1px solid blue;
        margin: 0 auto;
    }

    #section-experience .card {
        width: auto;
    }
}

/* ----- Mobiles : from 481 to 613 px ----- */
@media(max-width: 613px) {

    /* HEAD */
    /* body { border: 1px solid orange; } */
    header .flex {
        flex-direction: column;
    }

    .fullname #firstname {
        display: none;
    }
        .fullname:before {
            content: 'JL';
        }
    
    .title {
        font-size: 1.5em;
        margin: 0 auto;
    }
}

/* Small Mobiles : from 0 to 480 px */
@media(max-width: 480px) {
    /* body { border: 1px solid green; } */
    /* HEAD */
}

