@media(max-width: 768px)
{
    /* body { border: 1px solid red; } */
    
    /* HEAD */
    
    .address ul {
        flex-direction: column;
    }
    .address ul li {
        margin-top: .8em;
    }

    .title {
        font-size: 1.5em;
    }

    /* SECTIONS */

    #section-experience {
        /* border: 1px solid blue; */
        margin: 0 auto;
    }

    #section-experience .wrapper {
        /* border: 1px solid cyan; */
        padding: 0;
    }

    #section-experience .card {
        margin: 1rem;
        max-width: 100%;
    }

    #section-experience .card-text,
    #section-experience .card-footer {
        min-height: 0;
        height: auto;
    }

    #section-qualities #qualities {
        flex-direction: column;
    }

    #section-personality .wrapper{
        flex-direction: column;
    }
}

/* ----- Mobiles : from 481 to 613 px ----- */
@media(max-width: 613px) {

    /* HEAD */
    /* body { border: 1px solid orange; } */
    header .flex {
        flex-direction: column;
    }

    .fullname #firstname {
        display: none;
    }
        .fullname:before {
            content: 'JL';
        }
    
    .title {
        font-size: 1.5em;
        margin: 0 auto;
    }

    /* SECTIONS */

    #section-experience {
        /* border: 1px solid blue; */
        margin: 0 auto;
    }

    #section-experience .wrapper {
        /* border: 1px solid cyan; */
        padding: 0;
    }

    #section-experience .card {
        margin: 1rem;
        max-width: 100%;
    }

    #section-experience .card-text,
    #section-experience .card-footer {
        min-height: 0;
        height: auto;
    }

    #section-qualities #qualities {
        flex-direction: column;
    }

    #section-personality .wrapper{
        flex-direction: column;
    }
}

/* Small Mobiles : from 0 to 480 px */
@media(max-width: 480px) {
    /* body { border: 1px solid green; } */
    /* HEAD */

    /* SECTIONS */

    #section-experience {
        /* border: 1px solid blue; */
        margin: 0 auto;
    }

    #section-experience .wrapper {
        /* border: 1px solid cyan; */
        padding: 0;
    }

    #section-experience .card {
        margin: 1rem;
        max-width: 100%;
    }

    #section-experience .card-text,
    #section-experience .card-footer {
        min-height: 0;
        height: auto;
    }

    #section-qualities #qualities {
        flex-direction: column;
    }

    #section-personality .wrapper{
        flex-direction: column;
    }
}

